<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= render '/time_calculator/stylesheets/stylesheets' %>
  </head>
  <body>
    <div class="time-calculator">
      <%= yield %>
    </div>
    <%= render '/time_calculator/javascripts/javascripts' %>
  </body>
</html>